.nomnal-form{
    margin: 10px;
}
.mat-grid-title
{
background: lightyellow;

}
.nomnal-form{
    margin: 10px;
}
.mat-radio-button ~ .mat-radio-button
{
    margin-left: 16px;
}
.option-select{
    margin: 15px;
}
.save-button-padding{
    margin: 15px;
}
.header{
   height: 50px;
   width: 800px;
   color: aliceblue;
   align-content: center;
   text-align: center;
   background-color: black

}